/* =========================
   Iklan Giant Bnner
========================= */
.iklan-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.iklan-container a {
  text-decoration: none;
}

.banner-iklan {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0766b6;
  width: 300px;
  height: 600px;
  color: #fff;
  font-weight: 600;
}
